*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Noto Sans Mono', monospace;
    font-size: 16px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 30px;
}

.header{
    font-size: 1.5rem;
    padding: 12px;
    background-color: lightgray;
    text-align: center;
}

.footer{
    font-size: .5rem;
    padding: 12px;
    background-color: lightgray;
    text-align: center;
}

.content{
    padding: 50px;
}

.board{
    min-height: 300px;
    min-width: 300px;
    height: 60vh;
    width: 60vh;
    margin: auto;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
}

.square0, .square1, .square2{
    border-bottom: 2px solid black;
}
.square6, .square7, .square8{
    border-top: 2px solid black;
}

.square0, .square3, .square6{
    border-right: 2px solid black;
}

.square2, .square5, .square8{
    border-left: 2px solid black;
}

.board div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}